.featured-container {
  display: flex;
  
  gap: 20px;
  padding: 20px;
  /* border: 2px solid black; */
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

.featured-box {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color: white;
  border-radius: 12px;
  /* border: 2px solid gray; */
  text-align: center;
  width: 100%;
  min-width: 200px;
  box-sizing: border-box;
  margin:0;
}

.featured-box h2 {
  font-size: 16px;
  font-weight: 600;
  color: #333;
  margin-bottom: 10px;
  border-bottom: 1px solid gray;
  padding-bottom: 5px;
}

.featured-box p {
  font-size: 14px;
  color: #666;
}